

bin:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    host: localhost
    port: 3306
    database: pblog
    username: root
    password: 1234

  redis:
    host: localhost
    port: 6379
    database: 10
